<!-- signup.component.html -->

<div class="container-fluid page-header py-5">
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">
      Sign Up
    </h1>
  </div>
  <div class="center-container">
    <form (ngSubmit)="onSignUp()" [formGroup]="signUpForm">
      <!-- Full Name and Last Name -->
      <div class="row ">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example1">First name *</label>
            <input [(ngModel)]="customerInfo.first_name"
                   [ngClass]="{ 'is-invalid': submittedSignUp && f1.first_name.errors }"
                   class="form-control p-2" formControlName="first_name"
                   id="form3Example1"
                   type="text"
            />
            <!--            <div *ngIf="submittedSignUp && f1.first_name.errors" class="mt-1">-->
            <!--              <div *ngIf="f1.first_name.errors['required']" class="alert alert-danger  p-2">-->
            <!--                First name is Required.-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example2"
            >Last name *</label
            >
            <input [(ngModel)]="customerInfo.last_name"
                   [ngClass]="{ 'is-invalid': submittedSignUp && f1.last_name.errors }"
                   class="form-control p-2" formControlName="last_name"
                   id="form3Example"
                   type="text"
            />
            <!--            <div *ngIf="submittedSignUp && f1.last_name.errors" class="mt-1">-->
            <!--              <div *ngIf="f1.last_name.errors['required']" class="alert alert-danger  p-2">-->
            <!--                Last name is Required.-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>

      <p-toast></p-toast>

      <!-- Email -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example3">Email *</label>
            <input [(ngModel)]="customerInfo.email"
                   [ngClass]="{ 'is-invalid': submittedSignUp && f1.email.errors }"
                   class="form-control p-2" formControlName="email"
                   id="form3Example3"
                   type="email"
            />
            <!--            <div *ngIf="submittedSignUp && f1.email.errors" class="mt-1">-->
            <!--              <div *ngIf="f1.email.errors['required']" class="alert alert-danger  p-2">-->
            <!--                Email is Required.-->
            <!--              </div>-->
            <!--              <div *ngIf="f1.email.errors['pattern']" class="alert alert-danger  p-2">-->
            <!--                Email is Invalid.-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>
      <div class="form-outline">
        <label class="form-label" for="form3Example3">Address *</label>
        <input [(ngModel)]="customerInfo.address"
               [ngClass]="{ 'is-invalid': submittedSignUp && f1.address.errors }"
               class="form-control p-2" formControlName="address"
               id="form3Example3"
               type="text"
        />
        <!--        <div *ngIf="submittedSignUp && f1.address.errors" class="mt-1">-->
        <!--          <div *ngIf="f1.address.errors['required']" class="alert alert-danger  p-2">-->
        <!--            Address is Required.-->
        <!--          </div>-->
        <!--        </div>-->
      </div>


      <div class="row mb-6">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example1">city *</label>
            <input [(ngModel)]="customerInfo.city" [ngClass]="{ 'is-invalid': submittedSignUp && f1.city.errors }"
                   class="form-control p-2" formControlName="city"
                   id="form3Example1"
                   type="text"
            />
            <!--            <div *ngIf="submittedSignUp && f1.city.errors" class="mt-1">-->
            <!--              <div *ngIf="f1.city.errors['required']" class="alert alert-danger  p-2">-->
            <!--                City is Required.-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>

        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example2"
            >Telephone Number *</label
            >
            <input [(ngModel)]="customerInfo.phone_no"
                   [ngClass]="{ 'is-invalid': submittedSignUp&& f1.phone_number.errors }"
                   class="form-control p-2" formControlName="phone_number"
                   id="form3Example2"
                   type="text"
            />
            <!--            <div *ngIf="submittedSignUp && f1.phone_number.errors" class="mt-1">-->
            <!--              <div *ngIf="f1.phone_number.errors['required']" class="alert alert-danger  p-2">-->
            <!--                Phone Number is Required.-->
            <!--              </div>-->
            <!--              <div *ngIf="f1.phone_number.errors['pattern']" class="alert alert-danger  p-2">-->
            <!--                Phone Number is Invalid.-->
            <!--              </div>-->
            <!--            </div>-->
          </div>
        </div>
      </div>


      <!-- Address, Company/University/School, City -->
      <div class="row mb-4">

        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example3">Company</label>
            <input [(ngModel)]="customerInfo.company" class="form-control p-2" formControlName="company"
                   id="form3Example3"
                   type="text"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example1">University</label>
            <input [(ngModel)]="customerInfo.university" class="form-control p-2" formControlName="university"
                   id="form3Example1"
                   type="text"
            />
          </div>
        </div>
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="form3Example1">club</label>
            <input [(ngModel)]="customerInfo.club" class="form-control p-2" formControlName="club"
                   id="form3Example1"
                   type="text"
            />
          </div>
        </div>

      </div>


      <!-- Username and Password -->
      <div class="row mb-4">
        <div class="col">
          <div class="form-outline">
            <label class="form-label" for="password">Password *</label>

            <input [(ngModel)]="customerInfo.password"
                   [ngClass]="{ 'is-invalid': submittedSignUp && f1.password.errors }"
                   class="form-control p-2" formControlName="password"
                   id="password"
                   type="text"
            />
            <!--            <div *ngIf="submittedSignUp && f1.password.errors" class="mt-1">-->
            <!--              <div *ngIf="f1.password.errors['required']" class="alert alert-danger  p-2">-->
            <!--                Password is Required.-->
            <!--              </div>-->
            <!--            </div>-->

          </div>
        </div>
        <!--        <div class="col">-->
        <!--          <div class="form-outline">-->
        <!--            <label class="form-label" for="confirmPassword">Confirm Password *</label>-->

        <!--            <input [(ngModel)]="confirmPasswords"-->
        <!--                   [ngClass]="{ 'is-invalid': submittedSignUp && f1.confirmPassword.errors }"-->
        <!--                   class="form-control p-2" formControlName="confirmPassword"-->
        <!--                   id="confirmPassword"-->
        <!--                   type="password"-->
        <!--            />-->
        <!--            <div *ngIf="submittedSignUp && f1.confirmPassword.errors" class="mt-1">-->
        <!--              <div *ngIf="f1.confirmPassword.errors['required']" class="alert alert-danger  p-2">-->
        <!--                Confirm Password is Required.-->
        <!--              </div>-->
        <!--            </div>-->
        <!--            <div *ngIf="isPasswordsMatch" class="alert alert-danger  p-2">-->
        <!--              Passwords do not match.-->
        <!--            </div>-->
        <!--          </div>-->
        <!--        </div>-->
      </div>

      <!-- Submit button -->
      <div class="w-btn-wrapper d-flex justify-content-end">
        <button class="button p-3" type="submit">Sign Up</button>
      </div>
    </form>
  </div>
</div>
