<div class="footer-main-container">
  <div class="footer-container">
    <div class="footer-content">
      <div class="footer-content-left">
        <div class="footer-logo">
          <a class="" routerLink="/">
            <img
              src="assets/imgs/LogoIcon.png"
              alt=""
              width="50px"
              class="img-fluid" />
            <img
              src="assets/imgs/Logo.png"
              alt="StitchCentral"
              class="img-fluid"
              width="200px"
          /></a>
        </div>

        <h4 class="fontColor">Contact us on:</h4>

        <a href="#" class="socialmedia-icon-items"
          ><fa-icon
            [icon]="faFacebook"
            class="footer-icons footer-icon-facebook"
          ></fa-icon
        ></a>
        <a href="#" class="socialmedia-icon-items"
          ><fa-icon
            [icon]="faWhatsapp"
            class="footer-icons footer-icon-whatsapp"
          ></fa-icon
        ></a>
        <div class="footer-contact">
          <a class="footer-bar-items" href="#"
            ><fa-icon
              [icon]="faPhone"
              class="footer-icons footer-icon-faPhone"
            ></fa-icon>
            <span class="footer-text">+94-766988963</span>
          </a>
          <a class="footer-bar-items" href="#"
            ><fa-icon
              [icon]="faEnvelope"
              class="footer-icons footer-icon-faEnvelope"
            ></fa-icon>
            <span class="footer-text">kasunharitha55@gmail.com</span>
          </a>
          <a class="footer-bar-items" href="#"
            ><fa-icon
              [icon]="faLocationDot"
              class="footer-icons footer-icon-faLocationDot"
            ></fa-icon>
            <span class="footer-text"> Galle, Srilanka</span>
          </a>
        </div>
        <button class="btn-outline nav-list-items">Make Order</button>
      </div>
    </div>
  </div>
</div>
