<!-- Page Header Start -->
<!--div class="container-fluid page-header py-5">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">Our Services</h1>
  </div>
  <div class="container text-center py-5">
    <h4 class="display-2 text-white mb-4 animated slideInDown">
      Home/Services
    </h4>
  </div-->

<div id="home-services">
  <div class="home-services-container">
    <div class="home-services-header">
      <h2>Sublimation Printing</h2>
      <h1>Heat Transer Printing Designs- Sports T-Shirts</h1>
    </div>
    <div class="home-services-body">
      <div class="services">
        <div class="service">
          <div class="service-icon"></div>
        </div>
        <div class="service">
          <div
            class="carousel slide"
            data-bs-ride="carousel"
            id="carouselExampleCaptions"
          >
            <div class="carousel-indicators">
              <button
                aria-current="true"
                aria-label="Slide 1"
                class="active"
                data-bs-slide-to="0"
                data-bs-target="#carouselExampleCaptions"
                type="button"
              ></button>
              <button
                aria-label="Slide 2"
                data-bs-slide-to="1"
                data-bs-target="#carouselExampleCaptions"
                type="button"
              ></button>
              <button
                aria-label="Slide 3"
                data-bs-slide-to="2"
                data-bs-target="#carouselExampleCaptions"
                type="button"
              ></button>
            </div>

            <div
              class="service"
              data-aos="fade-right"
              data-aos-duration="2500"
              data-aos-easing="ease-in-sine"
            >
              <div class="service-icon">
                <img
                  class="fixed-size-image"
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/Apparel-design/cust1.jpg"
                />
              </div>
              <div class="service-title">
                <h3>hayleys Flag</h3>
              </div>
              <div class="service-description">
                <p>
                  highquality sports apparel vectors professional football shirt
                </p>
              </div>
            </div>

            <!--cust2-->
            <div class="service">
              <div class="service-icon">
                <img
                  class="fixed-size-image"
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/Apparel-design/cust2.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Flag with Digital Printing</h3>
              </div>
              <div class="service-description">
                <p>
                  vector collection of sports shirts soccer kit for sublimation
                </p>
              </div>
            </div>

            <!--cust3-->

            <div class="service">
              <div class="service-icon">
                <img
                  class="fixed-size-image"
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/Apparel-design/cust3.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Police Flag</h3>
              </div>
              <div class="service-description">
                <p></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
