<div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
<div class="p-5 rounded contact-form">
<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-12 col-md-6">
      <div class="bg-pink rounded-xl p-4">
        <div class="form-group mb-4">
          <label for="username" class="font-weight-bold text-stone-400 mb-2"
            >Username</label
          >
          <input type="text" class="form-control bg-stone-400" id="username" />
        </div>
        <div class="form-group mb-4">
          <label for="password" class="font-weight-bold text-stone-400 mb-2"
            >Password</label
          >
          <input
            type="password"
            class="form-control bg-stone-400"
            id="password"
          />
        </div>
        <div class="form-group mb-4">
          <label
            for="confirmPassword"
            class="font-weight-bold text-stone-400 mb-2"
            >Confirm Password</label
          >
          <input
            type="password"
            class="form-control bg-stone-400"
            id="confirmPassword"
          />
        </div>
        <button type="button" class="btn btn-primary btn-block bg-zinc-600">
          Submit
        </button>
      </div>
    </div>
  </div>
</div>
</div>
</div>

