<div class="container-fluid page-header py-5">
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">Login</h1>
  </div>
  <div class="center-container">
    <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
      <div class="p-5 rounded contact-form">
        <div class="container mt-5">
          <div class="row justify-content-center">
            <div class="col-12 col-md-6">
              <form (ngSubmit)="onLogin()" [formGroup]="loginForm">
                <div class="bg-pink rounded-xl p-4">
                  <div class="form-group mb-4">
                    <label
                      class="font-weight-bold text-stone-400 mb-2 fontColor"
                      for="username"
                    >Username</label
                    >
                    <input
                      [(ngModel)]="LoginReqestDTO.email"
                      [ngClass]="{
                      'is-invalid': submittedLogin && f1.email.errors
                    }"
                      class="form-control bg-stone-400"
                      formControlName="email"
                      id="username"
                      type="email"
                    />
                  </div>
                  <div class="form-group mb-4">
                    <label
                      class="font-weight-bold text-stone-400 mb-2 fontColor"
                      for="password"
                    >Password</label
                    >
                    <input
                      [(ngModel)]="LoginReqestDTO.password"
                      [ngClass]="{
                      'is-invalid': submittedLogin && f1.password.errors
                    }"
                      class="form-control bg-stone-400"
                      formControlName="password"
                      id="password"
                      type="password"
                    />
                  </div>
                  <!--            <div class="form-group mb-4">-->
                  <!--              <label-->
                  <!--                class="font-weight-bold text-stone-400 mb-2"-->
                  <!--                for="confirmPassword"-->
                  <!--              >Confirm Password</label-->
                  <!--              >-->
                  <!--              <input-->
                  <!--                class="form-control bg-stone-400"-->
                  <!--                id="confirmPassword"-->
                  <!--                type="password"-->
                  <!--              />-->
                  <!--            </div>-->
                  <button
                    (click)="onLogin()"
                    class="btn btn-primary btn-block bg-zinc-600"
                    type="submit"
                  >
                    Submit
                  </button>
                  <span class="d-block text-center my-4 fontColor">
                  Register <a routerLink="/signup">here</a>
                </span>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
