<p>Custome Apparel</p>
<div id="home-services">
  <div class="home-services-container">
    <div class="home-services-header">
      <h2 data-aos="fade-up" data-aos-duration="3000">Sublimation Printing</h2>

      <div
        class="service"
        data-aos="fade-right"
        data-aos-duration="2500"
        data-aos-easing="ease-in-sine"
      >
        <div class="service-icon">
          <img
            alt=""
            height="100%"
            max-width="100%"
            src="assets/imgs/tshirth2.jpg"
          />
        </div>

        
        <div class="service-description">
          <p
            data-aos="fade-up"
            data-aos-duration="2000"
            data-aos-easing="linear"
          >
            highquality sports apparel vectors professional football shirt
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
