.contact-detail::before {
  position: absolute;
  content: "";
  height: 50%;
  width: 100%;
  top: 0;
  left: 0;
  background: linear-gradient(rgb(210, 243, 235, 1), rgba(230, 250, 245, 0.3)),
    url(/assets/imgs/contact_back.jpg) center center no-repeat;
  background-size: cover;
  border-radius: 10px;
  z-index: -1;
}
.order-form-outer {
  margin-top: 10rem;
}

.contact-map {
  background: var(--color-secondary);
}

.contact-form {
  margin: 20px;
  background: var(--color-secondary);
}

.order-form {
  margin: 10px;
}
