<!-- Home Services section -->

<div id="home-services">
  <div class="home-services-container">
    <div class="home-services-header">
      <h2>Our Services</h2>
      <h1>Textile is What We Do</h1>
    </div>
    <div class="home-services-body">
      <div class="services">
        <div class="service">
          <div class="service-icon">
            <img
              alt=""
              height="100%"
              max-width="100%"
              src="assets/imgs/dye.png"
            />
          </div>
          <div class="service-title">
            <h3>Sublimation Printing</h3>
          </div>
          <div class="service-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptatum, quibusdam, voluptate, quia quod voluptas quos
              exercitationem quas voluptatibus quidem doloribus.
            </p>
            <a routerLink="/submit-print"
            >READ MORE
              <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
            </a>
          </div>
        </div>
        <div class="service">
          <div class="service-icon">
            <img
              alt=""
              height="100%"
              max-width="100%"
              src="assets/imgs/cloth.png"
            />
          </div>
          <div class="service-title">
            <h3>Apparel design</h3>
          </div>
          <div class="service-description">
            <p>
              Apparel design encompasses a wide range of clothing items, from
              t-shirts to jerseys. Apparel designers play a pivotal role in
              shaping our daily attire, infusing each garment with creativity,
              functionality, and a touch of personal style.
            </p>
            <a href=""
            >READ MORE
              <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
            </a>
          </div>
        </div>
        <div class="service">
          <div class="service-icon">
            <img
              alt=""
              height="100%"
              max-width="100%"
              src="assets/imgs/fabric.png"
            />
          </div>
          <div class="service-title">
            <h3>Fabric Printing</h3>
          </div>
          <div class="service-description">
            <p>
              Fabric printing is the process of applying color or design to
              fabric. This can be done with a variety of methods, including
              screen printing, block printing, and digital printing. Fabric
              printing can be used to create a wide variety of designs, from
              simple logos to complex patterns.
            </p>
            <a href=""
            >READ MORE
              <fa-icon
                [icon]="faArrowRight"
                class="arrow-right"
                routerLink="/services-fabric"
              ></fa-icon>
            </a>
          </div>
        </div>
        <div class="service">
          <div class="service-icon">
            <img
              alt=""
              height="100%"
              max-width="100%"
              src="assets/imgs/sewing_machine.png"
            />
          </div>
          <div class="service-title">
            <h3>Garment Stitching</h3>
          </div>
          <div class="service-description">
            <p>
              Garment stitching is the process of assembling pieces of fabric
              into a garment. This can be done by hand or by machine. Garment
              stitching is a complex process that requires a variety of skills,
              including hand-eye coordination, attention to detail, and the
              ability to follow instructions.
            </p>
            <a href=""
            >READ MORE
              <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
            </a>
          </div>
        </div>
        <div class="service">
          <div class="service-icon">
            <img
              alt=""
              height="100%"
              max-width="100%"
              src="assets/imgs/weaving.png"
            />
          </div>
          <div class="service-title">
            <h3>Weaving Tie</h3>
          </div>
          <div class="service-description">
            <p>
              A woven tie is a type of necktie that is made by weaving together
              two or more sets of threads. Woven ties are typically made from
              silk or polyester, and they come in a wide variety of colors and
              patterns. They are considered to be more formal than knitted ties,
              and they are often worn with suits or other formal attire.
            </p>
            <a href=""
            >READ MORE
              <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
            </a>
          </div>
        </div>
        <div class="service">
          <div class="service-icon">
            <img
              alt=""
              height="100%"
              max-width="100%"
              src="assets/imgs/tshirt.png"
            />
          </div>
          <div class="service-title">
            <h3>Custom Apparel</h3>
          </div>
          <div class="service-description">
            <p>
              Custom apparel is clothing that is made to order for a specific
              individual or group of individuals. Custom apparel can be anything
              from a simple T-shirt to a complex formal gown. It is often used
              to promote a business, organization, or event. Custom apparel can
              be made from a variety of materials, including cotton, polyester,
              and wool. It can be printed, embroidered, or embellished with
              logos, text, or designs.
            </p>
            <a href=""
            >READ MORE
              <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
