<!-- Page Header Start -->
<!--div class="container-fluid page-header py-5">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">Our Services</h1>
  </div>
  <div class="container text-center py-5">
    <h4 class="display-2 text-white mb-4 animated slideInDown">
      Home/Services
    </h4>
  </div-->

<div id="home-services">
  <div class="home-services-container">
    <div class="home-services-header">
      <h2 data-aos="fade-up" data-aos-duration="3000">Sublimation Printing</h2>
      <h1 data-aos="zoom-in">Fabric T Shirt Printing Designs</h1>
    </div>
    <div class="home-services-body">
      <div class="services">
        <div class="service" data-aos="fade-right" data-aos-duration="3000">
          <div class="service-icon"></div>
        </div>
        <div class="service" data-aos="fade-up" data-aos-duration="3000">
          <div
            id="carouselExampleCaptions"
            class="carousel slide"
            data-bs-ride="carousel"
          >
            <div class="carousel-indicators">
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="0"
                class="active"
                aria-current="true"
                aria-label="Slide 1"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="1"
                aria-label="Slide 2"
              ></button>
              <button
                type="button"
                data-bs-target="#carouselExampleCaptions"
                data-bs-slide-to="2"
                aria-label="Slide 3"
              ></button>
            </div>

            <div
              class="service"
              data-aos="fade-right"
              data-aos-duration="2500"
              data-aos-easing="ease-in-sine"
            >
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/fabrict1.jpg"
                />
              </div>
              <div class="service-title">
                <h3
                  data-aos="fade-up"
                  data-aos-duration="2000"
                  data-aos-easing="linear"
                >
                  FootBall T-Shirt
                </h3>
              </div>
              <div class="service-description">
                <p
                  data-aos="fade-up"
                  data-aos-duration="2000"
                  data-aos-easing="linear"
                >
                  highquality sports apparel vectors professional football shirt
                </p>
                <!--a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a-->
              </div>
            </div>
            <div class="service" data-aos="fade-right" data-aos-duration="3000">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/fabrict2.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Soccer Kit</h3>
              </div>
              <div class="service-description">
                <p>
                  vector collection of sports shirts soccer kit for sublimation
                </p>
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
            <div class="service" data-aos="fade-up" data-aos-duration="3000">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/fabrict3.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Mockup Shirt</h3>
              </div>
              <div class="service-description">
                <p>
                  Free vector soccer jersey design for sublimation sport t shirt
                  designe
                </p>
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
            <div class="service" data-aos="fade-left" data-aos-duration="3000">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/fabrict4.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Soccor Uniform</h3>
              </div>
              <div class="service-description">
                <p>Free vector soccer uniform concept</p>
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
            <div class="service" data-aos="fade-left" data-aos-duration="3000">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/fabrict5.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Custom Apparel</h3>
              </div>
              <div class="service-description">
                <p>Free vector soccer uniform concept</p>
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
            <div class="service" data-aos="fade-left" data-aos-duration="3000">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/fabrict6.jpg"
                />
              </div>
              <div class="service-title">
                <h3>FootBall Jercey</h3>
              </div>
              <div class="service-description">
                <p>Texture for soccer football jersey</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
