<nav
  class="navbar navbar-expand-lg navbar-light bg-light navbar-container mb-5"
>
  <div class="container-fluid navBar-top">
    <div class="top-nav-bar">
      <div class="contact-details">
        <a class="top-nav-bar-items" href="#">
          <fa-icon [icon]="faPhone" class="nav-icons"></fa-icon>
          <span class="nav-text">+94-766988963</span>
        </a>
        <a class="top-nav-bar-items" href="#">
          <fa-icon [icon]="faEnvelope" class="nav-icons"></fa-icon>
          <span class="nav-text">kasunharitha55@gmail.com</span>
        </a>
        <a class="top-nav-bar-items" href="#">
          <fa-icon [icon]="faLocationDot" class="nav-icons"></fa-icon>
          <span class="nav-text">Galle, Srilanka</span>
        </a>
      </div>
      <div class="socialmedia-icon">
        <a class="socialmedia-icon-items" href="#">
          <fa-icon
            [icon]="faFacebook"
            class="nav-icons nav-icon-facebook"
          ></fa-icon>
        </a>
        <a class="socialmedia-icon-items" href="#">
          <fa-icon
            [icon]="faWhatsapp"
            class="nav-icons nav-icon-whatsapp"
          ></fa-icon>
        </a>
      </div>
    </div>
  </div>
  <div class="container-fluid navBar-main">
    <a class="navbar-brand navbar-logo" routerLink="">
      <img
        alt=""
        class="img-fluid"
        src="assets/imgs/LogoIcon.png"
        width="50px" />
      <img
        alt="StitchCentral"
        class="img-fluid"
        src="assets/imgs/Logo.png"
        width="200px"
    /></a>
    <button
      (click)="togglerSecondExample.toggle()"
      aria-controls="navbarTogglerDemo02"
      aria-expanded="false"
      aria-label="Toggle navigation"
      class="navbar-toggler togle-button"
      type="button"
    >
      <fa-icon [icon]="faBars" class="togle-button-icon"></fa-icon>
    </button>
    <div
      #togglerSecondExample="mdbCollapse"
      class="collapse navbar-collapse"
      id="navbarTogglerDemo02"
      mdbCollapse
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link nav-list-items" routerLink="/about-us">About Us</a>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            aria-expanded="false"
            class="nav-link dropdown-toggle nav-list-items"
            data-bs-toggle="dropdown"
            ngbDropdownToggle
            role="button"
          >
            Services
          </a>
          <ul class="dropdown-menu nav-list-items" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" routerLink="/Services">Our Services</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="Service-Detail"
                >Service Detail</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item dropdown" ngbDropdown>
          <a
            aria-expanded="false"
            class="nav-link dropdown-toggle nav-list-items"
            data-bs-toggle="dropdown"
            ngbDropdownToggle
            role="button"
          >
            Projects
          </a>
          <ul class="dropdown-menu nav-list-items" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" routerLink="/Our-Projects"
                >Our Projects</a
              >
            </li>
            <li>
              <a class="dropdown-item" routerLink="Project-Details"
                >Project-Details</a
              >
            </li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-list-items" routerLink="/contact-us"
            >Contact Us</a
          >
        </li>
      </ul>
      <ul class="navbar-nav mb-2 mb-lg-0">
        <li class="nav-item dropdown" ngbDropdown>
          <a
            aria-expanded="false"
            class="nav-link dropdown-toggle nav-list-items login-icon-dropdown"
            data-bs-toggle="dropdown"
            ngbDropdownToggle
            role="button"
            routerLink="/client-login"
          >
            <fa-icon [icon]="faUser" class="Login-icon"></fa-icon>
          </a>
          <ul class="dropdown-menu nav-list-items" ngbDropdownMenu>
            <li>
              <a class="dropdown-item" routerLink="/Our-Projects">My Profile</a>
            </li>
            <li>
              <a class="dropdown-item" routerLink="Project-Details">Logout</a>
            </li>
          </ul>
        </li>
      </ul>
      <button class="btn-outline nav-list-items">
        <a routerLink="/order">Make Order </a>
      </button>
    </div>
  </div>
</nav>
