<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">Contact Us</h1>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<!-- Page Header End -->
<!-- Contact Start -->
<div class="container-fluid py-5 mt-5">
  <div class="container py-5">
    <div
      class="text-center mx-auto pb-5 wow fadeIn"
      data-wow-delay=".3s"
      style="max-width: 600px"
    >
      <h5 class="text-primary">Reach US</h5>
      <h1 class="mb-3">Contact StitchCentral</h1>
    </div>
    <div class="contact-detail position-relative p-5">
      <div class="row g-5 mb-5 justify-content-center">
        <h2 class="mb-3">01. Your Information</h2>
        <form>
          <!-- 2 column grid layout with text inputs for the first and last names -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">First name</label>
                <input type="text" id="form3Example1" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2"
                  >Last name *</label
                >
                <input type="text" id="form3Example2" class="form-control" />
              </div>
            </div>
          </div>

          <!-- Email input -->
          <div class="form-outline mb-4">
            <label class="form-label" for="form3Example3">Email address</label>
            <input type="email" id="form3Example3" class="form-control" />
          </div>

          <!--Country and teephone number-->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1">Country *</label>
                <input type="text" id="form3Example1" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2"
                  >Telephone Number *</label
                >
                <input type="number" id="form3Example2" class="form-control" />
              </div>
            </div>
          </div>
          <hr />
          <h2 class="mb-3">01. Company Information</h2>

          <!-- 2 column grid layout with text inputs  -->
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1"
                  >Designation</label
                >
                <input type="text" id="form3Example1" class="form-control" />
              </div>
            </div>
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example2"
                  >Company Name</label
                >
                <input type="text" id="form3Example2" class="form-control" />
              </div>
            </div>
          </div>
          <div class="row mb-4">
            <div class="col">
              <div class="form-outline">
                <label class="form-label" for="form3Example1"
                  >Organization Type</label
                >
                <input type="text" id="form3Example1" class="form-control" />
              </div>
            </div>
          </div>
          <hr />
          <!--Inquiry-->
          <div class="form-outline mb-4">
            
            <label class="form-label" for="form6Example3">Type</label>
            <input type="text" id="form6Example3" class="form-control" />
          </div>
          <div class="form-outline mb-4">
            
            <label class="form-label" for="form6Example3"
              >Product Category *</label
            >
            <input type="text" id="form6Example3" class="form-control" />
          </div>

          <!-- Message input -->
          <div class="form-outline mb-4">
            
            <label class="form-label" for="form6Example7"
              >Inquiry</label
            >
            <textarea
              class="form-control"
              id="form6Example7"
              rows="4"
            ></textarea>
          </div>

          <!-- Submit button -->
          <button class="button" type="submit" class="btn btn-primary btn-block mb-4">
            Submit
          </button>
        </form>
      </div>
    </div>

    <div class="row g-5">
      <div class="col-lg-6 wow fadeIn" data-wow-delay=".3s">
        <div class="p-5 h-100 rounded contact-map">
          <iframe
            allowfullscreen=""
            class="rounded w-100 h-100"
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3967.6642326154115!2d80.24657607485933!3d6.040726428585476!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3ae173ffe448d0bd%3A0x3d8175704bc96e62!2zS2FzdW4ncyBQbGFjZSAo4Laa4LeD4LeU4Lax4LeK4Lac4LeaIOC2nOC3meC2r-C2uyk!5e0!3m2!1sen!2slk!4v1697481513651!5m2!1sen!2slk"
            style="border: 0"
          ></iframe>
        </div>
      </div>
      <div class="col-lg-6 wow fadeIn" data-wow-delay=".5s">
        <div class="p-5 rounded contact-form">
          <div class="mb-4">
            <input
              class="form-control border-0 py-3"
              placeholder="Your Name"
              type="text"
            />
          </div>
          <div class="mb-4">
            <input
              class="form-control border-0 py-3"
              placeholder="Your Email"
              type="email"
            />
          </div>
          <div class="mb-4">
            <input
              class="form-control border-0 py-3"
              placeholder="Project"
              type="text"
            />
          </div>
          <div class="mb-4">
            <textarea
              class="w-100 form-control border-0 py-3"
              cols="10"
              placeholder="Message"
              rows="6"
            ></textarea>
          </div>
          <div class="text-start">
            <button class="btn bg-primary text-white py-3 px-5" type="button">
              Send Message
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
