
  <div id="home-services">
    <div class="home-services-container">
      <div class="home-services-header">
        <h2 data-aos="fade-up" data-aos-duration="3000">Our Services</h2>
        <h1 data-aos="zoom-in">Textile is What We Do</h1>
      </div>
      <div class="home-services-body">
        <div class="services">
          <div class="service" data-aos="fade-right" data-aos-duration="3000">
            <div class="service-icon">
              <img
                alt=""
                height="100%"
                max-width="100%"
                src="assets/imgs/dye.png"
              />
            </div>
            <div class="service-title">
              <h3>Fabric Dyeing</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
              >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-up" data-aos-duration="3000">
            <div class="service-icon">
              <img
                alt=""
                height="100%"
                max-width="100%"
                src="assets/imgs/cloth.png"
              />
            </div>
            <div class="service-title">
              <h3>Satin Weaving</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
              >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-left" data-aos-duration="3000">
            <div class="service-icon">
              <img
                alt=""
                height="100%"
                max-width="100%"
                src="assets/imgs/fabric.png"
              />
            </div>
            <div class="service-title">
              <h3>Fabric Printing</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
              >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-right" data-aos-duration="3000">
            <div class="service-icon">
              <img
                alt=""
                height="100%"
                max-width="100%"
                src="assets/imgs/sewing_machine.png"
              />
            </div>
            <div class="service-title">
              <h3>Garment Stitching</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
              >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-up" data-aos-duration="3000">
            <div class="service-icon">
              <img
                alt=""
                height="100%"
                max-width="100%"
                src="assets/imgs/weaving.png"
              />
            </div>
            <div class="service-title">
              <h3>Linen Weaving</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
              >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-left" data-aos-duration="3000">
            <div class="service-icon">
              <img
                alt=""
                height="100%"
                max-width="100%"
                src="assets/imgs/tshirt.png"
              />
            </div>
            <div class="service-title">
              <h3>Custom Apparel</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
              >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
