<div id="home-project">
    <div class="home-project-container">
      <div class="home-project-header">
        <h2 data-aos="fade-up" data-aos-duration="3000">OUR PROJECT</h2>
        <h1 data-aos="zoom-in">Some of Our Project</h1>
      </div>
      <div class="home-project-body">
        <div class="projects">
          <div class="project" data-aos="fade-right" data-aos-duration="1000">
            <div class="project-img">
              <img alt="" src="assets/imgs/uni T-shirt.png"/>
              <div class="project-img-description">
                <h3>University T-Shirts</h3>
                <p>
                    Show your school spirit with custom-designed university t-shirts that celebrate your alma mater
                </p>
                <div class="readMore">
                  <a routerLink="/projects/university"> READ MORE
                    <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="project">
            <div class="project-img">
              <img alt="" src="assets/imgs/sports T-shirt.jpg"/>
              <div class="project-img-description">
                <h3>Sports T-Shirts</h3>
                <p>
                    From team jerseys to workout gear, we offer high-quality sports apparel that can be personalized to your preferences.

                </p>
                <div class="readMore">
                  <a href=""
                  >READ MORE
                    <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="project" data-aos="fade-left" data-aos-duration="1000">
            <div class="project-img">
              <img alt="" src="assets/imgs/tai2.png"/>
              <div class="project-img-description">
                <h3>Ties</h3>
                <p>
                    Elevate your professional look with custom ties that stand out in any crowd.

                </p>
                <div class="readMore">
                  <a href=""
                  >READ MORE
                    <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="project" data-aos="fade-right" data-aos-duration="1000">
            <div class="project-img">
              <img alt="" src="assets/imgs/flags.png"/>
              <div class="project-img-description">
                <h3>Flage</h3>
                <p>
                    Customize flags for your sports team or special event, proudly displaying your identity
                </p>
                <div class="readMore">
                  <a href=""
                  >READ MORE
                    <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="project">
            <div class="project-img">
              <img alt="" src="assets/imgs/cap.png"/>
              <div class="project-img-description">
                <h3>Caps</h3>
                <p>
                    From Team Jerseys, Workout Gear, to Caps, We Offer High-Quality Sports Apparel That Can Be Personalized to Your Preferences.
                </p>
                <div class="readMore">
                  <a routerLink="/university-t-shirts"
                  >READ MORE
                    <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
          <div class="project" data-aos="fade-left" data-aos-duration="1000">
            <div class="project-img">
              <img alt="" src="assets/imgs/bages.png"/>
              <div class="project-img-description">
                <h3>Badge</h3>
                <p>
                    Create badges that represent your organization or club with distinction.

                </p>
                <div class="readMore">
                  <a href=""
                  >READ MORE
                    <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <router-outlet></router-outlet>