<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
  <br><br><br><br><br><br><br><br><br><br><br><br>
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>

  </div>
  <br><br><br><br><br><br><br><br><br><br><br><br>

</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img alt="" class="img-fluid w-75 rounded" src="assets/imgs/about-01.jpg" style="margin-bottom: 25%;">
          <div class="position-absolute w-75" style="top: 50%; left: 25%;">
            <img alt="" class="img-fluid w-100 rounded" src="assets/imgs/about-02.jpg">
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-primary">About Us</h5>
        <!--        <h1 class="mb-4">About HighTech Agency And It's Innovative IT Solutions</h1>-->
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed efficitur quis purus ut interdum. Pellentesque
          aliquam dolor eget urna ultricies tincidunt. Nam volutpat libero sit amet leo cursus, ac viverra eros
          tristique. Morbi quis quam mi. Cras vel gravida eros. Proin scelerisque quam nec elementum viverra.
          Suspendisse viverra hendrerit diam in tempus. Etiam gravida justo nec erat vestibulum, et malesuada augue
          laoreet.</p>
        <p class="mb-4">Pellentesque aliquam dolor eget urna ultricies tincidunt. Nam volutpat libero sit amet leo
          cursus, ac viverra eros tristique. Morbi quis quam mi. Cras vel gravida eros. Proin scelerisque quam nec
          elementum viverra. Suspendisse viverra hendrerit diam in tempus.</p>
        <a class="btn btn-secondary rounded-pill px-5 py-3 text-white" href="">More Details</a>
      </div>
      <div class="card">

        <p-toast class="custom-message"></p-toast>
        <button (click)="show()" class="p-button-success" label="Show" pButton pRipple
                type="button"></button>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
