<!-- Page Header Start -->
<div class="container-fluid page-header py-5">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">About Us</h1>
  </div>
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
</div>
<!-- Page Header End -->

<!-- About Start -->
<div class="container-fluid py-5 my-5">
  <div class="container py-5">
    <div class="row g-5">
      <div class="col-lg-5 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".3s">
        <div class="h-100 position-relative">
          <img
            alt=""
            class="img-fluid w-75 rounded"
            src="assets/imgs/about-01.jpg"
            style="margin-bottom: 25%"
          />
          <div class="position-absolute w-75" style="top: 50%; left: 25%">
            <img
              alt=""
              class="img-fluid w-100 rounded"
              src="assets/imgs/about-02.jpg"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-7 col-md-6 col-sm-12 wow fadeIn" data-wow-delay=".5s">
        <h5 class="text-primary">About Us</h5>
        <!--        <h1 class="mb-4">About HighTech Agency And It's Innovative IT Solutions</h1>-->
        <p>
          Welcome to StitchCntral, your one step-destination for all your custom
          garment and accessory needs. At StitchCentral, we take pride in our
          commmitment to quality, criativity, and customer satisfaction.
        </p>

        <p class="mb-4">
          At StitchCentral, we're passionate about creativity and precision in
          every stitch. We specialize in university t-shirts, sports apparel,
          ties, flags, and badges, offering top-notch quality and design. With
          years of experience, we're committed to crafting products that reflect
          your unique identity. Our team is dedicated to delivering the best in
          custom merchandise, ensuring your satisfaction at every step. At
          StitchCentral, your vision becomes reality. Explore the endless
          possibilities and experience the artistry of custom clothing and
          accessories. Join us in celebrating your passion and style with
          products that are stitched with love and precision. Welcome to
          StitchCentral!
        </p>
        <a class="btn btn-secondary rounded-pill px-5 py-3 text-white" href=""
          >More Details</a
        >
      </div>
      <div class="card">
        <p-toast class="custom-message"></p-toast>
      </div>
    </div>
  </div>
</div>
<!-- About End -->
