/*.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url(/assets/imgs/services.jpg) center center no-repeat;
  background-size: cover;
}

.display-2 {
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}*/

/* How we work */

.home-services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.home-services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.home-services-header h1 {
  font-size: 2rem;
  text-align: center;
}
.home-services-body {
  width: 100%;
  margin: 2rem 10rem;
}

.services {
  display: grid;
  row-gap: 1rem;
  margin: 0 2rem;
}

.service {
  background-color: white;
  /* border: 1px solid var(--color-secondary); */
  border-radius: 5px;
  padding: 2rem;
}

.service-icon {
  overflow: hidden;
  width: 25rem;
  height: 25rem;
  margin-bottom: 1rem;
}

.service-icon img {
  transition: scale 400ms;
}

.service-icon:hover img {
  scale: 110%;
}

.service-description p {
  font-size: 2rem;
  color: darkgray;
  margin-bottom: 1rem;
  text-align: left;
}

.service-description a {
  text-decoration: none;
  color: var(--color-secondary);
}

.service-description a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #home-services {
    background-position: top 0 center;
  }

  .home-services-header h1 {
    font-size: 3rem;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 10rem;
  }
}

.home-work {
  padding-bottom: 2rem;
}

.home-work-container {
  display: grid;
  margin-left: 2rem;
  margin-right: 2rem;

  /* border-radius: 1.6rem;
  box-shadow: 0 2px 8px -2px hsla(0, 0%, 9%, 0.08),
    0 8px 12px -2px hsla(0, 0%, 9%, 0.16); */
  padding: 2rem;
  /* background-color: white; */
}

.home-work-icon-container {
  /* display: grid; */
  /* justify-content: center; */
  margin-top: 5rem;
}
.home-work-icon-description {
  margin-top: 2rem;
}
.home-work-icon {
  overflow: hidden;
  width: 100%;
  padding: 2rem;
  border: 1px solid var(--color-secondary);
  border-radius: 1rem;
}
.home-work-icon img {
  width: 100%;
  height: auto;
  border-radius: 1rem;
  transition: scale 400ms;
}

@media screen and (min-width: 768px) {
  .home-work-container {
    flex-direction: row-reverse;
    margin-left: 10rem;
    margin-right: 10rem;
    grid-template-columns: 60% 40%;
    column-gap: 5rem;
  }

  .home-work-icon-container {
    flex-direction: row;
    grid-template-columns: 20% 80%;
    column-gap: 2rem;
    align-items: flex-start;
    justify-content: flex-start;
    margin-top: 2rem;
  }

  .home-work-icon {
    overflow: hidden;
    width: 10rem;
    height: 10rem;
  }

  .home-work-icon,
  .home-work-icon-description {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }
}
