.page-header {
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
  url(/assets/imgs/order.jpg) center center no-repeat;
  background-size: cover;
}

.display-2 {
  color: #fff;
  font-size: 8rem;
  font-weight: 500;
  text-align: center;
  margin-top: 0;
}

.order-detail::before {
  position: absolute;
  content: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  background: #1d2f40;

  background-size: cover;
  border-radius: 10px;
  z-index: -1;
}

.mb-3 {
  color: #fff;
}

.form-label {
  color: #fff;
}

.button {
  color: #0a91ab;
  height: 50px;
  width: 50px;
}

.div {
  display: flex;
  flex-direction: column;
}

.contact-form {
  background: var(--color-secondary);
}

.form-group {
  color: #fff;
}

.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}
