.img-container {
  margin-left: 0;
  margin-right: 0;
  height: 75vh;
}

.home-container {
  margin-top: 10rem;
}

.home-img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}

.home-details {
  position: relative;
  top: -70%;
  margin-left: 10rem;
  text-align: left;
}

.home-details h1 {
  font-size: 4rem;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.home-details h4 {
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

.btn-outline {
  border: 2px solid var(--color-secondary);
  background-color: transparent;
  padding: 0.5rem;
  margin-left: 2rem;
  border-radius: 0.5rem;
  /* margin-right: 10rem; */
  color: white;
  transform: translate(0%, 25%);
  /* box-shadow: 0 10px 10px rgba(0, 0, 0, 0.3); */
}

.home-details-button {
  margin-left: 0;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  text-emphasis: bold;
}

.btn-outline::before {
  transform: scaleX(0);
  transform-origin: top right;
}

.btn-outline:hover::before {
  transform: scaleX(1);
  transform-origin: bottom left;
}

.btn-outline::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: var(--color-secondary);
  z-index: -1;
  transition: transform 0.3s ease;
}

@media screen and (max-width: 1024px) {
  .home-details {
    margin-left: 1rem;
  }
  .btn-outline {
    margin-left: 0;
  }
  .home-details-button {
    margin-left: 0;
  }
  .home-details h1 {
    font-size: 3rem;
  }

  .home-details h4 {
    color: white;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
  }
}

.grid {
  display: grid;
  position: relative;
  margin: 0 10rem;
  row-gap: 2rem;
  top: -8rem;
}

.home-callouts {
  height: 100px;
  padding: 8rem 0;
  background: var(--color-primary);
  border-radius: 10px;
}

.grid-callouts {
  display: grid;
  position: relative;
  row-gap: 2rem;
  position: relative;
  align-items: center;
  top: -3rem;
}
.grid-callouts div {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (min-width: 768px) {
  .grid--1x3 {
    grid-template-columns: repeat(3, 1fr);
    column-gap: 2rem;
  }

  .grid--1x2 {
    grid-template-columns: 25% 100fr;
    column-gap: 0.5rem;
    position: relative;
    top: -3rem;
  }

  .grid-callouts h1 {
    font-size: 1rem;
  }
}

.callouts-icons {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  color: var(--color-secondary);
  margin-left: 1rem;
  margin-top: 0;
}

.grid-callouts h1 {
  font-size: 2rem;
  margin-top: 1rem;
  color: white;
  text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.3);
}

/* home about section */
.home-about {
  padding-bottom: 2rem;
}

.home-about-container {
  display: grid;
  margin-left: 2rem;
  margin-right: 2rem;
}

.home-about-img {
  height: 100%;
  max-width: 100%;
  object-fit: cover;
  object-position: center;
  padding-bottom: 1rem;
}

.home-about-details h2,
.home-services-header h2 {
  font-size: 1.5rem;
  color: var(--color-secondary);
  padding-bottom: 1rem;
}

.home-about-details h1,
.home-services-header h1 {
  font-size: 3rem;
  font-weight: bold;
}

.home-about-details p {
  font-size: 1.2rem;
  margin: 1.5rem 0;
  /* width: 700px; */
}
.vision-mission ul {
  list-style-type: none;
  padding-left: 0;
}

.vision-mission {
  display: grid;
}

.vision {
  border-right: none;
}

/* .vision-mission ul li:nth-of-type(1) */

.vision-mission table td {
  vertical-align: top;
  padding-right: 1rem;
  padding-bottom: 0.5rem;
}

.vision-mission-icon {
  font-size: 1.3rem;
  font-weight: bold;
  color: var(--color-secondary);
}

.vision-mission-points {
  font-size: 1.3rem;
  color: darkgray;
}

.home-about-button {
  background-color: var(--color-secondary);
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 0;
  color: white;
  font-size: 1.5rem;
  justify-content: center;
  text-emphasis: bold;
}

.home-about .btn-outline::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  inset: 0 0 0 0;
  background: #037a92;
  z-index: -1;
  transition: transform 0.3s ease;
}

.home-about .btn-outline::before {
  transform: scaleY(0);
  transform-origin: top right;
}

.home-about .btn-outline:hover::before {
  transform: scaleY(1);
  transform-origin: bottom left;
}

@media screen and (min-width: 768px) {
  .home-about-container {
    margin-left: 10rem;
    margin-right: 10rem;
    grid-template-columns: 50% 50%;
    column-gap: 2rem;
  }

  .vision-mission {
    grid-template-columns: 1fr 1fr;
    column-gap: 2rem;
  }

  .home-about-img {
    padding-bottom: 0;
  }

  .vision {
    border-right: 1px solid var(--color-secondary);
  }
  .mission {
    margin-left: 1rem;
  }
}

/* home services section */
#home-services {
  background-image: url(/assets/imgs/back_02.jpg);
  width: 100%;
  height: auto;
  background-size: cover;
  background-position: top 70px center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.home-services-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  width: 100%;
}

.home-services-header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 50%;
}

.home-services-header h1 {
  font-size: 2rem;
}

.home-services-body {
  width: 100%;
  margin: 2rem 10rem;
}

.services {
  display: grid;
  row-gap: 1rem;
  margin: 0 2rem;
}

.service {
  background-color: white;
  border: 1px solid var(--color-secondary);
  border-radius: 5px;
  padding: 2rem;
}

.service-icon {
  overflow: hidden;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
}

.service-icon img {
  transition: scale 400ms;
}

.service-icon:hover img {
  scale: 110%;
}

.service-description p {
  font-size: 1.2rem;
  color: darkgray;
  margin-bottom: 1rem;
}

.service-description a {
  text-decoration: none;
  color: var(--color-secondary);
}

.service-description a:hover {
  text-decoration: underline;
}
@media screen and (min-width: 768px) {
  #home-services {
    background-position: top 0 center;
  }

  .home-services-header h1 {
    font-size: 3rem;
  }

  .services {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2rem;
    margin: 0 10rem;
  }
}
