<div class="home-container">
  <div class="img-container">
    <img
      src="assets/imgs/GARMENT_01_1400.jpg"
      alt="Stitch Central Home Image"
      srcset="
        assets/imgs/GARMENT_01_1400.jpg 1400w,
        assets/imgs/GARMENT_01_1189.jpg 1189w,
        assets/imgs/GARMENT_01_790.jpg   790w,

        assets/imgs/GARMENT_01_200.jpg   200w

      "
      class="home-img"
    />


    <div class="home-details" data-aos="fade-right" data-aos-duration="2000">
      <h4>GARMEN TEXTILE INDUSTRY</h4>
      <h1>You Can Never Go Wrong</h1>
      <h1>With Our Quality</h1>
      <button class="btn-outline home-details-button">See Projects</button>
    </div>
  </div>
</div>
<div class="grid grid--1x3" data-aos="fade-up" data-aos-duration="2500">
  <div class="home-callouts">
    <div class="grid-callouts grid--1x2">
      <div>
        <fa-icon [icon]="faRug" class="callouts-icons"></fa-icon>
      </div>
      <div>
        <h1>Excellent Material</h1>
      </div>
    </div>
  </div>
  <div class="home-callouts">
    <div class="grid-callouts grid--1x2">
      <div>
        <fa-icon [icon]="faShirt" class="callouts-icons"></fa-icon>
      </div>
      <div>
        <h1>Quality Product</h1>
      </div>
    </div>
  </div>
  <div class="home-callouts">
    <div class="grid-callouts grid--1x2">
      <div>
        <fa-icon [icon]="faHouseCircleCheck" class="callouts-icons"></fa-icon>
      </div>
      <div>
        <h1>Trusted by Clients</h1>
      </div>
    </div>
  </div>
</div>
<div id="home-back">
  <!-- Home About section -->
  <div class="home-about">
    <div class="home-about-container">
      <div
        class="home-about-img"
        data-aos="fade-right"
        data-aos-duration="2500"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="assets/imgs/GARMENT_01.jpg"
          alt="Stitch Central Logo"
          class="home-about-img"
        />
      </div>
      <div class="home-about-details">
        <h2
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="2000"
        >
          ABOUT GARMEN
        </h2>
        <h1
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="2000"
        >
          You Can Find All Kinds of Fabric Here
        </h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
          voluptatum, quibusdam, voluptate, quia quod voluptas quos
          exercitationem quas voluptatibus quidem doloribus. Quisquam
          voluptatum, quibusdam, voluptate, quia quod voluptas quos
          exercitationem quas voluptatibus quidem doloribus.
        </p>
        <div
          class="vision-mission"
          data-aos="flip-down"
          data-aos-easing="linear"
          data-aos-duration="2000"
        >
          <div class="vision">
            <h3>Our Vision</h3>
            <ul>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
          <div class="mission">
            <h3>Our Mission</h3>
            <ul>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
              <li>
                <table>
                  <tr>
                    <td>
                      <fa-icon
                        [icon]="faCircleCheck"
                        class="vision-mission-icon"
                      ></fa-icon>
                    </td>
                    <td>
                      <span class="vision-mission-points"
                        >Integer consectetur tincidunt.</span
                      >
                    </td>
                  </tr>
                </table>
              </li>
            </ul>
          </div>
        </div>
        <button class="btn-outline home-about-button">More About Us</button>
      </div>
    </div>
  </div>

  <!-- Home Services section -->

  <div id="home-services">
    <div class="home-services-container">
      <div class="home-services-header">
        <h2 data-aos="fade-up" data-aos-duration="3000">Our Services</h2>
        <h1 data-aos="zoom-in">Textile is What We Do</h1>
      </div>
      <div class="home-services-body">
        <div class="services">
          <div class="service" data-aos="fade-right" data-aos-duration="3000">
            <div class="service-icon">
              <img
                src="assets/imgs/dye.png"
                alt=""
                max-width="100%"
                height="100%"
              />
            </div>
            <div class="service-title">
              <h3>Fabric Dyeing</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
                >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-up" data-aos-duration="3000">
            <div class="service-icon">
              <img
                src="assets/imgs/cloth.png"
                alt=""
                max-width="100%"
                height="100%"
              />
            </div>
            <div class="service-title">
              <h3>Satin Weaving</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
                >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-left" data-aos-duration="3000">
            <div class="service-icon">
              <img
                src="assets/imgs/fabric.png"
                alt=""
                max-width="100%"
                height="100%"
              />
            </div>
            <div class="service-title">
              <h3>Fabric Printing</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
                >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-right" data-aos-duration="3000">
            <div class="service-icon">
              <img
                src="assets/imgs/sewing_machine.png"
                alt=""
                max-width="100%"
                height="100%"
              />
            </div>
            <div class="service-title">
              <h3>Garment Stitching</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
                >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-up" data-aos-duration="3000">
            <div class="service-icon">
              <img
                src="assets/imgs/weaving.png"
                alt=""
                max-width="100%"
                height="100%"
              />
            </div>
            <div class="service-title">
              <h3>Linen Weaving</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
                >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
          <div class="service" data-aos="fade-left" data-aos-duration="3000">
            <div class="service-icon">
              <img
                src="assets/imgs/tshirt.png"
                alt=""
                max-width="100%"
                height="100%"
              />
            </div>
            <div class="service-title">
              <h3>Custom Apparel</h3>
            </div>
            <div class="service-description">
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <a href=""
                >READ MORE
                <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <ngb-carousel *ngIf="images">
    <ng-template ngbSlide *ngFor="let image of images">
      <div class="picsum-img-wrapper">
        <img [src]="image" alt="Random slide" />
      </div>
      <div class="carousel-caption">
        <h3>No mouse navigation</h3>
        <p>This carousel hides navigation arrows and indicators.</p>
      </div>
    </ng-template>
  </ngb-carousel> -->

  <!-- WHY CHOOSE GARMENT -->
  <div class="home-why-choose-us">
    <div class="home-why-choose-us-body">
      <div class="home-why-choose-us-body-content">
        <h2
          data-aos="fade-up"
          data-aos-easing="linear"
          data-aos-duration="4000"
        >
          Why Choose Us
        </h2>
        <h1 data-aos="zoom-in">
          Lowest Price Guaranteed, Quality Never Compromised
        </h1>
        <div class="home-why-choose-us-body-content-item">
          <div class="home-why-choose-us-body-content-item-icon">
            <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
          </div>
          <div class="home-why-choose-us-body-content-item-title">
            <h3>Quality</h3>
          </div>
          <div class="home-why-choose-us-body-content-item-description">
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
              voluptatum, quibusdam, voluptate, quia quod voluptas quos
              exercitationem quas voluptatibus quidem doloribus.
            </p>
          </div>
        </div>
      </div>

      <div
        class="home-why-choose-us-body-img"
        data-aos="fade-left"
        data-aos-duration="1000"
        data-aos-easing="ease-in-sine"
      >
        <img
          src="assets/imgs/GARMENT_01.jpg"
          alt="Stitch Central Logo"
          class="home-about-img"
        />
      </div>
    </div>
  </div>
</div>

<!-- Home contact us -->

<div id="home-contact-us">
  <div class="home-contact-us-container">
    <div class="home-contact-us-body">
      <h1>Consult With Us The Suitable Material for Your Project</h1>
      <p>
        Nulla in nibh at leo faucibus molestie eget nec velit. Phasellus vel
        felis vel orci iaculis tempor tristique sagittis urna. Phasellus ac ante
        in lacus tempor egestas.
      </p>
      <button class="btn-outline home-contact-us-button">CONTACT US</button>
    </div>
  </div>
</div>

<!-- Home project section -->

<div id="home-project">
  <div class="home-project-container">
    <div class="home-project-header">
      <h2 data-aos="fade-up" data-aos-duration="3000">OUR PROJECT</h2>
      <h1 data-aos="zoom-in">Some of Our Project</h1>
    </div>
    <div class="home-project-body">
      <div class="projects">
        <div class="project" data-aos="fade-right" data-aos-duration="1000">
          <div class="project-img">
            <img src="assets/imgs/Cotton Fabric.jpg" alt="" />
            <div class="project-img-description">
              <h3>Sewing</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <div class="readMore">
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="project-img">
            <img src="assets/imgs/WoolFabric.jpg" alt="" />
            <div class="project-img-description">
              <h3>Wool Fabric</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <div class="readMore">
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project" data-aos="fade-left" data-aos-duration="1000">
          <div class="project-img">
            <img src="assets/imgs/LinenFabric.jpg" alt="" />
            <div class="project-img-description">
              <h3>Linen Fabric</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <div class="readMore">
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project" data-aos="fade-right" data-aos-duration="1000">
          <div class="project-img">
            <img src="assets/imgs/GeorgetteFabric.jpg" alt="" />
            <div class="project-img-description">
              <h3>Georgette Fabric</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <div class="readMore">
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project">
          <div class="project-img">
            <img src="assets/imgs/DenimFabric.jpg" alt="" />
            <div class="project-img-description">
              <h3>Denim Fabric</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <div class="readMore">
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="project" data-aos="fade-left" data-aos-duration="1000">
          <div class="project-img">
            <img src="assets/imgs/LeatherMaterial.jpg" alt="" />
            <div class="project-img-description">
              <h3>Leather Material</h3>
              <p>
                Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Quisquam voluptatum, quibusdam, voluptate, quia quod voluptas
                quos exercitationem quas voluptatibus quidem doloribus.
              </p>
              <div class="readMore">
                <a href=""
                  >READ MORE
                  <fa-icon [icon]="faArrowRight" class="arrow-right"></fa-icon>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="home-work">
  <div class="home-work-container">
    <div class="home-work-details">
      <h2 data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
        HOW WE WORK
      </h2>
      <h1 data-aos="fade-up" data-aos-easing="linear" data-aos-duration="1000">
        Find The Fabric, Enjoy The Process and The Results
      </h1>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
        voluptatum, quibusdam, voluptate, quia quod voluptas quos exercitationem
        quas voluptatibus quidem doloribus. Quisquam voluptatum, quibusdam,
        voluptate, quia quod voluptas quos exercitationem quas voluptatibus
        quidem doloribus.
      </p>
      <button class="btn-outline home-about-button">NEED HELP</button>
    </div>
    <div class="home-work-icon-main-container">
      <div
        class="home-work-icon-container"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="home-work-icon">
          <img src="assets/imgs/consultation.png" alt="" />
        </div>
        <div class="home-work-icon-description">
          <h3>Consultation</h3>
        </div>
      </div>
      <div
        class="home-work-icon-container"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="home-work-icon">
          <img src="assets/imgs/material.png" alt="Choose Your Material" />
        </div>
        <div class="home-work-icon-description">
          <h3>Choose Your Material</h3>
        </div>
      </div>
      <div
        class="home-work-icon-container"
        data-aos="fade-up"
        data-aos-duration="1000"
      >
        <div class="home-work-icon">
          <img src="assets/imgs/production.png" alt="production" />
        </div>
        <div class="home-work-icon-description">
          <h3>Production</h3>
        </div>
      </div>
      <div class="home-work-icon-container">
        <div class="home-work-icon">
          <img src="assets/imgs/result.png" alt="result" />
        </div>
        <div class="home-work-icon-description">
          <h3>The Final Result</h3>
        </div>
      </div>
    </div>
  </div>
</div>

<footer></footer>
