<div class="home-container">
  <div class="img-container">
    <img
      src="assets/imgs/GARMENT_01.jpg"
      alt="Stitch Central Logo"
      class="home-img"
    />
    <div class="home-details">
      <h4>GARMEN TEXTILE INDUSTRY</h4>
      <h1>You Can Never Go Wrong</h1>
      <h1>With Our Quality</h1>
      <button class="btn-outline home-details-button">See Projects</button>
    </div>
  </div>
</div>
<div class="grid grid--1x3">
  <div class="home-callouts">
    <div class="grid-callouts grid--1x2">
      <div>
        <fa-icon [icon]="faRug" class="callouts-icons"></fa-icon>
      </div>
      <div>
        <h1>Excellent Material</h1>
      </div>
    </div>
  </div>
  <div class="home-callouts">
    <div class="grid-callouts grid--1x2">
      <div>
        <fa-icon [icon]="faShirt" class="callouts-icons"></fa-icon>
      </div>
      <div>
        <h1>Quality Product</h1>
      </div>
    </div>
  </div>
  <div class="home-callouts">
    <div class="grid-callouts grid--1x2">
      <div>
        <fa-icon [icon]="faHouseCircleCheck" class="callouts-icons"></fa-icon>
      </div>
      <div>
        <h1>Trusted by Clients</h1>
      </div>
    </div>
  </div>
</div>

<!-- <p-splitter
  [panelSizes]="[25, 75]"
  [style]="{ height: '300px' }"
  styleClass="mb-5"
>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      Panel 1
    </div>
  </ng-template>
  <ng-template pTemplate>
    <div class="col flex align-items-center justify-content-center">
      Panel 2
    </div>
  </ng-template>
</p-splitter> -->
