<!-- Page Header Start -->
<!--div class="container-fluid page-header py-5">
  <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
  <div class="container text-center py-5">
    <h1 class="display-2 text-white mb-4 animated slideInDown">Our Services</h1>
  </div>
  <div class="container text-center py-5">
    <h4 class="display-2 text-white mb-4 animated slideInDown">
      Home/Services
    </h4>
  </div-->

<div id="home-services">
  <div class="home-services-container">
    <div class="home-services-header">
      <h2>Weaving Tie</h2>
      <h1>Heat Transer Printing Designs- Sports T-Shirts</h1>
    </div>
    <div class="home-services-body">
      <div class="services">
        <div class="service">
          <div class="service-icon"></div>
        </div>
        <div class="service">
          <div
            class="carousel slide"
            data-bs-ride="carousel"
            id="carouselExampleCaptions"
          >
            <div class="carousel-indicators">
              <button
                aria-current="true"
                aria-label="Slide 1"
                class="active"
                data-bs-slide-to="0"
                data-bs-target="#carouselExampleCaptions"
                type="button"
              ></button>
              <button
                aria-label="Slide 2"
                data-bs-slide-to="1"
                data-bs-target="#carouselExampleCaptions"
                type="button"
              ></button>
              <button
                aria-label="Slide 3"
                data-bs-slide-to="2"
                data-bs-target="#carouselExampleCaptions"
                type="button"
              ></button>
            </div>

            <div
              class="service"
              data-aos="fade-right"
              data-aos-duration="2500"
              data-aos-easing="ease-in-sine"
            >
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/WeavingTie/w.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Ladder print silk tie</h3>
              </div>
              <div class="service-description">
                <p>A new graphic take on the Gancini pattern for a graphic-print tie.
                     The lines turn square, brightened by contrasting details. Crafted from pure silk twill, with a 8-cm wide tip.</p>
              </div>
            </div>

            <!--w1-->
            <div class="service">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/WeavingTie/w1.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Jump print silk tie</h3>
              </div>
              <div class="service-description">
                <p>
                  A new and ironic take on the formal tie, crafted from pure
                  silk twill. The pattern is a mix of contrasting lines,
                  intermingled Gancini accents and fish jumping between waves.
                  8-cm width on tip.
                </p>
              </div>
            </div>

            <!--w2-->

            <div class="service">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/WeavingTie/w2.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Smile print silk tie</h3>
              </div>
              <div class="service-description">
                <p>
                  This pure silk twill tie comes with a new creative edge,
                  decorated with an uneven print, in which the Gancini
                  silhouette has been embellished by a smile design. Light and
                  colorful, it’s the ironic edge that will finish off your more
                  formal looks. 8-cm width on tip.
                </p>
              </div>
            </div>

            <!--w3-->
            <div class="service">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/WeavingTie/w3.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Gancini Print Silk Tie</h3>
              </div>
              <div class="service-description">
                <p>
                  A dainty, contrasting-colored wavy pattern intermingles with
                  the Gancini detailing to create a timeless tie.
                </p>
              </div>
            </div>

            <!--w4-->

            <div class="service">
              <div class="service-icon">
                <img
                  alt=""
                  height="100%"
                  max-width="100%"
                  src="assets/imgs/WeavingTie/w4.jpg"
                />
              </div>
              <div class="service-title">
                <h3>Lace Print Silk Tie</h3>
              </div>
              <div class="service-description">
                <p>
                  Green Color Lace Print Silk Tie for Men.
                  <br />
                  The conceptual and extremely refined elaboration of shoe laces
                  features as the scene-stealing detail in this two-tone
                  pattern.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
